@use 'reset';

html,
body {
  font-family: Plus Jakarta Sans, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  background-color: #171717;
  color: #fff;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -5;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(121% + 1.3px);
  height: 160px;
}

.wave .shape-fill {
  fill: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
