.container {
  margin: 3rem 0;
  display: grid;
  place-items: center;
}

.proj_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  gap: 1rem;
}

.tag_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-inline: auto;
}
