.container {
  text-align: center;
  ul {
    padding: 1rem 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, minmax(70px, 1fr));
    gap: 1rem;
    transition: all 0.5s ease-in-out;
  }

  @media screen and (min-width: 800px) {
    ul {
      gap: 0.5rem;
    }
  }
}
